div#meteor_panel {
    box-shadow: #000 0px 0px 5px 0px;
    background: #2d353c;
    z-index: 999999;
    position: relative;
    line-height: normal;
    font-size: 15px;
    font-family: sans-serif;
}
div#meteor_panel_wraper {
    background-color: #D6D6D6;
    box-shadow: #000 0 0 3px 0px inset;
    color: #d5dbe1;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../images/panel_bg2.jpg);
    position: relative;
    color: #2d353c;
    position: relative;
    max-width: initial;
}
.btn-panel, .btn-panel-big, .button_edit {
    outline: 0!important;
    padding: 3px 8px;
    color: #d5dbe1;
    font-size: 13px;
    text-shadow: #000 1px 1px, #34393d -1px -1px;
    border: 0;
}
.btn-panel {
    background-color: transparent;
}
.btn-panel:focus, .btn-panel:focus, .btn-panel:hover, .btn-panel-big:focus, .btn-panel-big:focus, .btn-panel-big:hover, .button_edit:hover {
    color: #d5dbe1;
    box-shadow: #000 0 0 1px 0px;
}
div#meteor_panel span.switchery {
    background-color: transparent!important;
}

div#meteor_panel_top>a.btn {
    background-color: #d5dbe1;
    background-image: url(../images/panel_bg2.jpg);
    color: #d5dbe1;
    padding: 5px 15px;
    border-radius: 5px 5px 0 0;
    margin-bottom: -2px;
    opacity: 0.8;
    border: 0;
    font-size: 17px;
}
div#meteor_panel_top>a.btn:hover, div#meteor_panel_top>a.btn.active {
    opacity: 1;
    position: relative;
}
div#meteor_panel_top {
    padding: 10px 30px 0 30px;

}
.bg-gragient-panel, .btn-panel:focus, .btn-panel:focus, .btn-panel:hover, .btn-panel-big:focus, .btn-panel-big:focus, .btn-panel-big:hover {
    background: #555c62;
    background: -moz-linear-gradient(top, #555c62 0%, #3c4348 100%);
    background: -webkit-linear-gradient(top, #555c62 0%,#3c4348 100%);
    background: linear-gradient(to bottom, #555c62 0%,#3c4348 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555c62', endColorstr='#3c4348',GradientType=0 );
}
.btn-group-vertical>.btn, .btn-group>.btn {
    min-width: initial;
    text-transform: none;
}
a#meteor_user {
    float: right;
    display: inline-block;
    margin-top: -7px;
    color: #fff;
}
a#meteor_user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

#meteor_panel_wraper>div>div {
    min-height: 70px;
    padding-top: 5px;
    margin: 0;
}
#meteor_panel_wraper>div>div:first-child::after {
    display: none;
}
#meteor_panel_wraper>div>div:after {
    background: url("../images/alert-seam.png") repeat-y 0 0;
    content: "";
    left: -2px;
    top: 4px;
    bottom: 3px;
    position: absolute;
    width: 5px;
}
#meteor_panel p, div#meteor_panel a {
    color: #d5dbe1;
    line-height: normal;
    max-width: inherit;
    width: auto;
    min-width: auto;
    background-color: transparent;
    text-transform: none;
}
.activ:hover>.btnEyeRow {
    display: inline-block;
    z-index: 99999;
}
.btnEyeRow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.btnEyeRow .button_edit, .btnEyeRow span {
    background-image: url(../images/panel_bg2.jpg);
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    box-shadow: #000 0px 0px 1px 0px;
    line-height: normal!important;
    display: inline-block!important;
    padding: 5px 8px!important;
    margin: 0;
    color: #fff;
    vertical-align: top;
    font-size: 13px;
}
.btnEyeRow .button_edit:after, .btnEyeRow .button_edit:before {
    display: none;
}

div#modal-meteor {
    z-index: 999999999;
}
div#modal-meteor .modal-content {
    padding: 15px;
    background-image: url(../images/panel_bg2.jpg);
    border-radius: 0;
    color: #d5dbe1;
    border-bottom: #24B498 2px solid;
}
div#modal-meteor textarea {
    color: initial;
}
#modal-meteor .modal-header {
    border: 0;
    background: #00acac;
    color: #fff;
}
#modal-meteor .btn_admin {
    background-color: transparent;
    border: 1px #fff solid;
    padding: 10px 15px;
    display: block;
    margin: 15px auto;
}

#modal-meteor .input-group-addon {
    color: #fff;
    background-color: #00acac;
    border: 0;
}
div#meteor_panel ul.dropdown-menu:before {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #555c62;
}
div#meteor_panel ul.dropdown-menu {
    top: 120%;
}
div#meteor_panel ul.dropdown-menu a {
    color: #d5dbe1;
}
div#meteor_panel ul.dropdown-menu a:hover {
    color: #555c62;
    background-color: #d5dbe1;
}
#meteorPanelLining {
    display: none;
}
#meteor_panel.panel-fixed {
    position: fixed;
    width: 100%;
    text-transform: none;
}
#panelPin {
    opacity: 0.5;
    margin: 0 -10px 0 10px;
}
#panelPin.active {
    opacity: 1;
}
.cke_dialog_background_cover, .cke.cke_panel {
    z-index: 999999999!important;
}
.cke_editor_editor_dialog {
    z-index: 9999999999!important;
    position: relative!important;
}

/* Bootstrap Fixed */
#modal-meteor .input-group-addon {
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1!important;
    text-align: center!important;
    border-radius: 4px!important;
    height: initial!important;
}
#modal-meteor .input-group-addon:first-child {
    border-right: 0!important;
}