span.btn-input-file {
	overflow: hidden;
    position: relative;
}
span.btn-input-file input {
	opacity: 0;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
select.select-transparent {
    background-color: transparent;
    border: 1px #fff dashed;
    outline: 0;
}
select.select-transparent option {
    color: initial;
}
.alert {
    padding-left: 80px;
    position: relative;
}
.alert.alert-info:before {content: "\f05a";}
.alert.alert-success:before {content: "\f058";}
.alert.alert-warning:before {content: "\f071";}
.alert.alert-danger:before {content: "\f06a";}
.alert:before {position: absolute;left: 18px;font-size: 30px;top: 50%;font-family: FontAwesome;margin-top: -20px;}

.alert:after {
    background: url("images/alert-seam.png") repeat-y 0 0;
    content: "";
    left: 60px;
    top: 4px;
    bottom: 3px;
    position: absolute;
    width: 5px;
}

.close {
    right: 10px;
    top: 10px;
    position: absolute;
}

.multiFields .form-group a.addFields {
    display: none;
}
.multiFields .form-group:last-child a.addFields {
    display: inline-block;
}
.bg-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.bg-absolute-content {
    z-index: 10;
    position: relative;
    width: 100%
}
.bg-absolute-content .badge {
    float: right;
}
.badge.badge-white {
    background-color: #fff;
    color: #000;
}
.badge {
    position: relative;
}

::-webkit-scrollbar{width: 12px;}::-webkit-scrollbar-track {background-color: #2d353c;  border-left: 0;}